<div style="margin-top: 120px; ">

    <app-form1 cardHeaderClasses="bg-primary text-white" [headerText]="' Perfil'" iconClass="fa fa-store">

        <div>
            <header>
                <label class="mr-2">Usuário</label>
                <input type="text" pInputText [(ngModel)]="value" />
            </header>
            <p-button icon="pi pi-check" class="mr-3">Salvar</p-button>
            <p-button icon="pi pi-check" class="mr-3">Editar</p-button>
        </div>

    </app-form1>
</div>