<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
    <a class="navbar-brand" href="index.html">
        <img class="logomarca-img" src="assets/img/Logo 3.png"/>
        <button class="btn btn-link ml-5 btn-lg order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars" style="color: white"></i>
        </button>
    </a>
    <div>
        <p-multiSelect *ngIf="isHomeRoute()"
            id="chooseLoja" 
            [options]="listLojas" 
            [(ngModel)]="selectedLojas" 
            optionLabel="label" 
            class="mr-lg-5" 
            [filter]="false" 
            [defaultLabel]="'Escolher Lojas'"
            selectedItemsLabel="{0} lojas selecionadas"
            (onChange)="onLojasSelected($event)"
            [showToggleAll]="false"
            #multiSelect>
        </p-multiSelect>
        <a routerLink="perfil"><strong><span style="color: white">{{ usuarioLogado }}</span></strong></a>
        
        <a (click)="logout();" href="#"><i class="fas fa-sign-out-alt ml-5" style="font-size: 20px;color: white;"></i></a>
    </div>
</nav>