.navegador {
    font-size: 0.75em;
}

.p-multiselect {
    background-color: transparent !important;
    border: none !important;
    width: 200px !important;
}

.p-multiselect-label-container {
    color: white;
}