<nav style="margin-top: 120px;">
    <ol class="breadcrumb mt-3">
        <li class="li breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="li breadcrumb-item active">Lançamentos</li>
    </ol>
</nav>

<div class="ui-g-12 mt-4">
    <h1>Lançamentos Financeiro</h1>
</div>

<!-- FILTRO DE TABELA -->

<div class="container-responsive">
    <div class="ui-g mt-4">
        <p-card header="Pesquisar Lançamentos">
            <form #p="ngForm" (ngSubmit)="pesquisar(p)">
                <div class="ui-g-12 campo m-2">
                    <label class="campo-texto">Descrição</label>
                    <input name="descricaoPesquisa" #descricaoInputPesquisa="ngModel" [(ngModel)]="descricaoPesquisa"
                        class="campo-texto" pInputText type="text" />
                </div>

                <div class="ui-g-12 campo m-2">
                    <label class="campo-texto" for="tipoLancamentoSelect">Tipo Lançamento</label>
                    <select id="tipoLancamentoSelect" style="height: 30px; appearance: auto"
                        class="campo-texto check-list" [(ngModel)]="tipoLancamentoPesquisa"
                        name="tipoLancamentoPesquisa" [required]="true">
                        <option value='' disabled>Selecionar Todos</option>
                        <option *ngFor="let tipo of tiposLancamento" [ngValue]="tipo.id">{{ tipo.descricao }}</option>
                    </select>
                </div>


                <div class="ui-g-12 m-2 campo">
                    <label class="campo-texto">Data de Vencimento</label>
                    <input name="dataLancamentoPesquisaInicio" #dataLancamentoInputPesquisaInicio="ngModel"
                        [(ngModel)]="dataLancamentoPesquisaInicio" pInputText type="date" style="width: 150px;" />
                    <label style="padding: 0 5px 0 5px;">até</label>
                    <input name="dataLancamentoPesquisaFinal" #dataLancamentoInputPesquisaFinal="ngModel"
                        [(ngModel)]="dataLancamentoPesquisaFinal" pInputText type="date" style="width: 150px;" />
                </div>
                <div class="ui-g-12 m-2">
                    <p-button type="submit" label="Pesquisar" styleClass="p-button-rounded" class="mr-2"></p-button>
                    <button type="button" pButton label="Limpar Pesquisa" styleClass="p-button-rounded"
                        (click)="resetarCampos(p)"></button>
                </div>
            </form>
        </p-card>

    </div>
</div>

<!-- FILTRO DE TABELA -->

<div style="display: flex; justify-content: flex-end;">
    <p-button (click)="exportExcel()" styleClass="btn-success p-button-rounded mt-3">Exportar para Excel</p-button>
</div>

<!-- TABELA -->
<div class="card mt-4">
    <p-progressBar mode="indeterminate" *ngIf="barraDeProgressoLista==true" [style]="{'height': '6px'}"></p-progressBar>
    <p-table [value]="listaLancamentos" #tablelancamento [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        sortField="dataLancamento" [sortOrder]="-1" [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando {first} de {last} até {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]">

        <ng-template pTemplate="header">
            <tr style="font-size: 15px;">
                <th style="width: 5%; text-align: center;">
                    ID
                </th>
                <th pSortableColumn="status" style="width: 5%; text-align: center;">
                    Status
                    <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="descricaoLancamento" style="width: 15%; text-align: center;">
                    Descrição
                    <p-sortIcon field="descricaoLancamento"></p-sortIcon>
                </th>
                <th style="width: 2%; text-align: center;"></th>
                <th pSortableColumn="valor" style="width: 18%; text-align: center;">
                    Valor
                    <p-sortIcon field="valor"></p-sortIcon>
                </th>
                <th pSortableColumn="dataLancamento" style="width: 10%; text-align: center;">
                    Data Recebimento
                    <p-sortIcon field="dataLancamento"></p-sortIcon>
                </th>
                <th pSortableColumn="dataLancamento" style="width: 10%; text-align: center;">
                    Data Vencimento
                    <p-sortIcon field="dataLancamento"></p-sortIcon>
                </th>
                <th pSortableColumn="tipoLancamento.descricao" style="width: 20%; text-align: center;">
                    Tipo de Lançamento
                    <p-sortIcon field="tipoLancamento.descricao"></p-sortIcon>
                </th>
                <th pSortableColumn="cnpj.cnpj" style="width: 15%; text-align: center;">
                    CNPJ
                    <p-sortIcon field="cnpj.cnpj"></p-sortIcon>
                </th>
                <th style="width: 5%; text-align: center;">Ações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lancamento let-rowData let-rowIndex="rowIndex">
            <tr style="font-size: 15px;">
                <td style="text-align: center;">
                    {{ rowData?.totalUnits }} {{rowIndex + 1}}
                </td>
                <td style="text-align: center;" [ngStyle]="{
                    'color': ((today > formatDateToISO(lancamento.dataLancamento)) &&
                    (lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.DESPESA) &&
                    (lancamento?.status === 'N')) ? 'red' : ''}"
                    *ngIf="lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.DESPESA">
                    <b>{{
                        ((today > formatDateToISO(lancamento.dataLancamento)) &&
                        (lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.DESPESA) &&
                        (lancamento?.status === 'N')) ?
                        'ATRASO NO PAGAMENTO' :
                        ((lancamento?.status === 'N' && lancamento?.tipoLancamento?.tipoTransacao ===
                        TipoTransacao.DESPESA)
                        ? 'A PAGAR' : 'PAGO')
                        }}</b>
                </td>

                <td style="text-align: center;" [ngStyle]="{
                    'color': ((today > formatDateToISO(lancamento.dataLancamento)) &&
                    (lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.RECEITA) &&
                    (lancamento?.status === 'N')) ? 'red' : ''}"
                    *ngIf="lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.RECEITA">
                    <b>{{
                        ((today > formatDateToISO(lancamento.dataLancamento)) &&
                        (lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.RECEITA) &&
                        (lancamento?.status === 'N')) ?
                        'ATRASO NO RECEBIMENTO' :
                        ((lancamento?.status === 'N' && lancamento?.tipoLancamento?.tipoTransacao ===
                        TipoTransacao.RECEITA)
                        ? 'A RECEBER' : 'RECEBIDO')
                        }}</b>
                </td>

                <td style="text-align: center;">{{ lancamento.descricaoLancamento }}</td>
                <td>
                    <span class="m-0 p-0">
                        <i class="fa fa-arrow-alt-circle-up"
                            *ngIf="lancamento.tipoLancamento?.tipoTransacao === TipoTransacao.RECEITA"
                            style="color: green; font-size: 26px;"></i>
                        <i class="fa fa-arrow-alt-circle-down"
                            *ngIf="lancamento.tipoLancamento?.tipoTransacao === TipoTransacao.DESPESA"
                            style="color: red; font-size: 26px;"></i>
                    </span>
                </td>
                <td style="text-align: center; padding-left: 0; padding-right: 0;">
                    {{ lancamento.valor | currency:'BRL':'symbol-narrow':'1.2-2':'pt-BR' }}
                </td>
                <td style="text-align: center;">
                    <span *ngIf="lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.RECEITA">
                        {{ lancamento.dataLancamento | date:'dd/MM/yyyy' }}
                    </span>
                    <span *ngIf="lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.DESPESA">
                        -
                    </span>
                </td>
                <td style="text-align: center;">
                    <span *ngIf="lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.DESPESA">
                        {{ lancamento.dataLancamento | date:'dd/MM/yyyy' }}
                    </span>
                    <span *ngIf="lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.RECEITA">
                        -
                    </span>
                </td>
                <td style="text-align: center;">{{ lancamento.tipoLancamento.descricao }}</td>
                <td style="text-align: center;">{{ lancamento.cnpj.cnpj | cnpj }} - {{ lancamento.cnpj.nome }}</td>
                <td>
                    <div class="container-acao">
                        <!-- Botão de Editar -->
                        <button type="button" class="btn btn-sm btn-primary mr-3"
                            (click)="createOrUpdateModal(lancamento)">
                            <i class="fa fa-edit"></i>
                        </button>

                        <!-- Botão de Excluir -->
                        <button type="button" class="btn btn-sm btn-danger" (click)="showDeleteModal(lancamento)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="footer">
            <tr style="font-size: 15px;">
                <td colspan="4"></td>
                <td style="text-align: center; padding-left: 0; padding-right: 0;"
                    [ngStyle]="{'color': getTotalRevenue() >= 0 ? 'green' : 'red'}">
                    {{ getTotalRevenue() | currency:'BRL':'symbol':'1.2-2' }}
                </td>
                <td colspan="5"></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- TABELA -->


<div class="ui-g-12 m-2">
    <p-button label="Novo Lançamento" styleClass="p-button-rounded" (click)="createOrUpdateModal()"></p-button>
</div>

<div class="card flex justify-content-center" class="dialogResponsivo">
    <p-dialog header="{{pageTitle}}" [modal]="true" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }"
        [draggable]="false" [resizable]="false" [closable]="false">
        <!-- <p-dialog header="{{pageTitle}}" [modal]="true" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [closable]="false"> -->
        <div class="alert alert-danger" *ngIf="messagesError==true" role="alert">
            {{mensagem}}
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <p-progressBar mode="indeterminate" *ngIf="barraDeProgressoCreate==true"
                [style]="{'height': '6px'}"></p-progressBar>

            <div class="card-input m-2">
                <label for="descricaoInput">Descrição</label>
                <input id="descricaoInput" type="text" name="descricaoLancamento"
                    [(ngModel)]="lancamento.descricaoLancamento" #descricaoInput="ngModel"
                    placeholder="Ex: Pagar Fornecedor (opcional)" pInputText [style]="{ width: '100%'}" />
                <!-- Mensagem de erro para o campo Descrição -->

            </div>

            <div class="card-input m-2">
                <label for="valorInputLabel">Valor*</label>
                <input id="valorInputLabel" type="text" appValidacaoValor name="valor" [(ngModel)]="lancamento.valor"
                    #valorInput="ngModel" placeholder="Digite o valor do lançamento" class="p-inputtext"
                    style="width: 100%; text-align: left;" currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" field="descricao" required />

                <div *ngIf="(valorInput.invalid && valorInput.touched)">

                    <!-- <p *ngIf="valorInput.errors?.['required']">Este campo é obrigatório.</p> !-->
                    <div class="text-danger error-message" *ngIf="valorInput?.errors?.['required']">Este campo é
                        obrigatório.</div>
                    <div class="text-danger error-message" *ngIf="valorInput?.errors?.['appValidacaoValor']">Insira um
                        valor maior ou igual a 0.</div>
                </div>

            </div>

            <div class="card-input m-2 botaoAutoComplete">
                <label for="tipoLancamentoInput">Tipo Lançamento*</label>
                <p-autoComplete id="tipoLancamentoInput" [(ngModel)]="lancamento.tipoLancamento" name="tipoLancamento"
                    [dropdown]="true" [suggestions]="filteredTiposLancamento"
                    (completeMethod)="filterTipoLancamento($event)" field="tipo" [style]="{ width: '100%'}"
                    (onSelect)="onTipoLancamentoSelect($event)" #tipoLancamentoInput="ngModel" [required]="true"
                    appValidacaoTipoLancamento [emptyMessage]="'Nenhuma opção encontrada'"
                    [showEmptyMessage]="true"></p-autoComplete>
                <div *ngIf="(tipoLancamentoInput.invalid && tipoLancamentoInput.touched)">
                    <!-- *ngIf="(tipoLancamentoInput.invalid && tipoLancamentoInput.touched) || (tipoLancamentoInput.invalid && tipoLancamentoInput.pristine)"> -->
                    <div class="text-danger error-message" *ngIf="tipoLancamentoInput.errors?.['required']">Este campo é
                        obrigatório.
                    </div>
                    <div class="text-danger error-message"
                        *ngIf="tipoLancamentoInput?.errors?.['appValidacaoTipoLancamento']">Verifique se o tipo de
                        lançamento foi selecionado.
                    </div>
                </div>
            </div>

            <div class="card-input m-2">

                <label for="dataInput">
                    <span *ngIf="lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.DESPESA">Data
                        Vencimento*</span>
                    <span *ngIf="lancamento?.tipoLancamento?.tipoTransacao === TipoTransacao.RECEITA">Data
                        Recebimento*</span>
                    <span *ngIf="lancamento?.tipoLancamento?.tipoTransacao === null">Data*</span>
                </label>


                <input class="form-control" type="date" name="data" [(ngModel)]="lancamento.dataLancamento"
                    #dataInput="ngModel" required />
                <div *ngIf="(dataInput.invalid && dataInput.touched)">
                    <div class="text-danger error-message" *ngIf="dataInput.errors?.['required']">Este campo é
                        obrigatório.</div>
                </div>
            </div>

            <!-- Ta sendo validado fora do ngForm -->

            <div class="ui-g-12 campo m-2">
                <label class="campo-texto" for="tipoLojaSelect">Tipo Loja *</label>
                <select #lojaInput (change)="mudarLoja($event)" class="check-list form-control" id="tipoLojaSelect"
                    style="height: 30px; appearance: auto" name="loja" required>
                    <option value="" selected>
                        <span style="color: red;">Selecione uma opção</span>
                    </option>
                    <option *ngFor="let loja of lojasLancamento" [value]="loja.id"
                        [selected]="loja.id===lancamento.cnpj?.id">{{ loja.label }}</option>
                </select>

                <div *ngIf="lojaValidacao==false" class="text-danger error-message">
                    Selecione uma opção válida.
                </div>



            </div>

            <div class="ui-g-12 campo m-2">
                <label for="checkStatus" class="campo-texto">Se o valor já foi pago ou recebido, marque a opção
                    abaixo:</label>
                <input class="inputStatus" type="checkbox" id="checkStatus" name="checkStatus" [(ngModel)]="checked">
            </div>


            <hr />
            <div class="container-acao" style="justify-content: flex-end;">
                <div class="ui-g-6 m-2">
                    <p-button label="Fechar" (click)="hideCreateOrUpdateModal()" styleClass="btn-secondary"></p-button>
                </div>
                <div class="ui-g-6 m-2">
                    <p-button *ngIf="pageTitle === 'Editar Lançamento'" label="Editar" type="submit"
                        styleClass="btn-success"
                        [disabled]="(f?.invalid ?? true) || lojaValidacao==false || lancamento.cnpj === undefined"></p-button>
                    <p-button *ngIf="pageTitle === 'Novo Lançamento'" label="Salvar" type="submit"
                        styleClass="btn-success"
                        [disabled]="(f?.invalid ?? true) || lojaValidacao==false || lancamento.cnpj === undefined"></p-button>
                </div>

            </div>
        </form>
    </p-dialog>
</div>


<div class="card flex justify-content-center" class="dialogResponsivo">
    <p-dialog header="Excluir" [(visible)]="deleteModalVisible" [modal]="true" [draggable]="false" [resizable]="false"
        [closable]="false">
        <p class="m-0">
            Tem certeza que deseja excluir?
        </p>
        <hr />
        <div class="container-acao" style="justify-content: flex-end;">
            <div class="ui-g-6 m-2">
                <p-button label="Cancelar" (click)="hideShowDeleteModal()" styleClass="btn-warning"></p-button>
            </div>
            <div class="ui-g-6 m-2">
                <p-button label="Sim" (click)="deleteAction()" styleClass="btn-danger"></p-button>
            </div>
        </div>
    </p-dialog>
</div>

<p-toast></p-toast>