<section class="vh-100" style="background-color: beige;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <div class="background-login"></div>
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="d-flex align-items-center mb-3 pb-1 justify-content-center">
                      Bem vindo!
                    </div>  
                    <!-- Alertas de Erro e Sucesso -->
                    <div class="alert alert-danger" *ngIf="loginError">
                      Login e/ou Senha incorreto(a).
                    </div>
                    <div class="alert alert-success" *ngIf="mensagemSucesso">
                      {{ mensagemSucesso }}
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="username">Login</label>
                      <input type="text" id="username" name="username" [(ngModel)]="username"
                        class="form-control form-control-lg" placeholder="Digite seu login" required />
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="password">Senha</label>
                      <input type="password" id="password" name="password" [(ngModel)]="password"
                        class="form-control form-control-lg" placeholder="Digite sua senha" required />
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block"
                        type="submit">Login</button>
                    </div>
  
                    <!-- <a class="small text-muted" href="#!" disabled>Recuperar a senha</a> -->
               
                                            
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  