<nav style="margin-top: 120px;">
    <ol class="breadcrumb mt-3">
        <li class="li breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="li breadcrumb-item active">Lojas</li>
    </ol>
</nav>

<app-form1 cardHeaderClasses="bg-primary text-white" [headerText]="'Cadastrar nova loja'" iconClass="fa fa-store">
    <form class="row" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group col-md-6">
            <label for="nome">Nome da Loja*:</label>
            <input 
            type="text"
            class="form-control"
            id="nome"
            #inputNomeCidade="ngModel"
            [(ngModel)]="cnpj.nome"
            name="nome" required
            minlength="2">
        </div>

        <div class="form-group col-md-6">
            <label for="cidade">Estado*:</label>
            <p-dropdown 
                [options]="listaEstados"
                [(ngModel)]="cnpj.estado"
                optionLabel="name"
                [style]="{'width':'100%', 'margin':'0px', 'padding': '2px'}"
                (onChange)="mudarEstado($event)"
                name="estado"
                #inputEstado="ngModel"
                [required]="true">
            </p-dropdown>
        </div>

        <div class="form-group col-md-6">
            <label for="cidade">Cidade*:</label>
            <p-autoComplete 
              [(ngModel)]="cnpj.cidade" 
              [suggestions]="filteredCidades" 
              (completeMethod)="searchCidade($event)" 
              field="name" 
              placeholder="Cidade" 
              class="form-control" 
              id="cidadeInput"
              [emptyMessage]="'Nenhuma opção encontrada'" [showEmptyMessage]= "true"
              [style]="{'width':'100%','height':'38px', 'margin':'0px'}" 
              name="cidade"
              #inputCidade="ngModel"
              [inputStyle]="{'width':'100%','height':'38px', 'margin':'0px'}" [disabled]="!cnpj.estado" [required]="true" appValidacaoCidade
              (onSelect)="onCidadeSelect($event)" > 
            </p-autoComplete>
        </div>
          
        <div class="form-group col-md-6 formCadastroLoja">
            <label for="cnpj">CNPJ:</label>
            <p-inputMask 
                id="cnpj"
                class="form-control"
                mask="99.999.999/9999-99"
                [(ngModel)]="cnpj.cnpj"
                name="cnpj"
                placeholder="99.999.999/9999-99"
                #inputCnpj="ngModel"
                [required]="true"
                [minlength]="14"
                (onInput)="handleCnpjInput($event)">
            </p-inputMask>
        </div>

        {{cnpj.id}}
        <div class="form-group col-md-12 mt-0">
            <p-button type="submit" label="Salvar" [disabled]="(f?.invalid ?? true) || !(qtdNumCnpj === 14)"  class="mr-2" styleClass="p-button-rounded" *ngIf="cnpj.id === undefined">
                <i class="fas fa-save mr-2" style="color:white"></i>
            </p-button>
            <p-button type="submit" label="Editar" [disabled]="(f?.invalid ?? true) || !(qtdNumCnpj === 14)"  class="mr-2" styleClass="p-button-rounded" *ngIf="cnpj.id != null">
                <i class="fas fa-save mr-2" style="color:white"></i>
            </p-button>
            <p-button label="Limpar" styleClass="p-button-rounded" (click)="resetar()">
                <i class="fas fa-undo mr-2" style="color:white"></i>
            </p-button>
        </div>
    </form>
</app-form1>


<div class="ui-g-12 mt-4">
    <h1 class="mt-2 mb-4">Gerenciamento de Lojas</h1>
</div>

<!-- TABELA -->
<div class="card mt-4">
    <p-progressBar mode="indeterminate" *ngIf="barraDeProgressoLista==true" [style]="{'height': '6px'}"></p-progressBar>
    <p-table [value]="listLojas" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" sortField="id"
        [sortOrder]="1" [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando {first} de {last} até {totalRecords} registros"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr style="font-size: 15px;">
                <th style="width: 5%; text-align: center;">ID</th>
                <th style="width: 25%; text-align: left;">Nome</th>
                <th style="width: 20%; text-align: left;">Estado</th>
                <th style="width: 20%; text-align: left;">Cidade</th>
                <th style="width: 20%; text-align: left;">CNPJ</th>
                <th style="width: 10%; text-align: center;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loja let-rowData let-rowIndex="rowIndex">
            <tr style="font-size: 15px;">
                <td style="text-align: center;">
                    {{ rowData?.totalUnits }} {{rowIndex + 1}}
                </td>
                <td style="text-align: left;">{{loja.nome}}</td>
                <td style="text-align: left;">{{loja.estado}}</td>
                <td style="text-align: left;">{{loja.cidade}}</td>
                <td style="text-align: left;">{{loja.cnpj | cnpj}}</td>
                <td style="text-align: center;">
                    <div class="container-acao">
                        <button type="button" class="btn btn-sm btn-primary mr-3" (click)="editLoja(loja)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="openDeleteConfirmation(loja.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
        </ng-template>
    </p-table>
</div>

<!-- Modal de confirmação de exclusão -->
<p-dialog header="Confirmação de Exclusão" [(visible)]="displayDeleteConfirmation" [modal]="true" [responsive]="true" [closable]="false">
    <ng-template pTemplate="content">
        <p>Tem certeza que deseja excluir esta loja?</p>
    </ng-template>
    <hr />
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" class="btn-warning mr-2" (click)="cancelDelete()"></button>
        <button type="button" pButton icon="pi pi-check" label="Sim" class="btn-danger" (click)="confirmDelete()"></button>
    </p-footer>
</p-dialog>


<!-- TABELA -->
<p-toast></p-toast>
