<div style="margin-top: 120px;">

    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item active">Bem Vindo!</li>
    </ol>

    <!-- Demo header-->
    <section class="header mt-lg-5" style="width: 95%; margin: 0 auto;">
        <div>
            <div class="row">
                <div class="col-md-3">
                    <!-- Tabs nav -->
                    <div class="nav flex-column nav-pills nav-pills-custom topo-guia-usuario" id="v-pills-tab"
                        role="tablist" aria-orientation="vertical">
                        <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill"
                            href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <i class="fa fa-user-circle-o mr-2"></i>
                            <span class="font-weight-bold small text-uppercase">Novidades</span></a>

                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill"
                            href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <i class="mr-2"></i>
                            <span class="font-weight-bold small text-uppercase">Lançamentos</span></a>

                        <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill"
                            href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <i class="fa fa-calendar-minus-o mr-2"></i>
                            <span class="font-weight-bold small text-uppercase">Lojas</span></a>
                    </div>
                </div>


                <div class="col-md-9">
                    <!-- Tabs content -->
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade shadow rounded bg-white show active p-5 conteudo-guia-usuario"
                            id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <h4 class="font-italic mb-4">Guia do Usuário</h4>
                            <p class="font-italic text-muted mb-2">Esta seção é o nosso Guia do usuário, onde você
                                encontrará informações importantes para guiá-lo pelo sistema. Aqui, estaremos
                                compartilhando dicas de como usar o sistema.
                                <b style="display: block; font-size: 16px;">Atenciosamente, Cappacitar.</b>
                        </div>

                        <div class="tab-pane fade shadow rounded bg-white p-5 conteudo-guia-usuario"
                            id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <h4 class="font-italic mb-4">Lançamentos</h4>
                            <p class="font-italic text-muted mb-2">
                                Nessa seção você pode realizar os seus lançamentos financeiros.
                                Na tabela você pode ordernar as consultas
                            </p>
                            <b>Orderne a consulta de lançamento por Status, Descrição, Valor, Data
                                Recebimento/Vencimento, Tipo Lançamento, CNPJ</b>
                            <img src="assets/img/tutorial-lancamento-1.png" style="width: 100%;" />

                            <p><b>Status:</b> É o status do lançamento, exitem 6 tipos de status para os lançamentos de
                                receita e despesa, são eles:
                            </p>

                            <ul class="mt-2">
                                <li><b>ATRASO NO PAGAMENTO:</b> Indica que o pagamento está em atraso para lançamentos
                                    do tipo DESPESA.</li>
                                <li><b>A PAGAR:</b> Indica que o pagamento ainda não foi efetuado para lançamentos do
                                    tipo DESPESA.</li>
                                <li><b>PAGO:</b> Indica que o pagamento foi realizado para lançamentos do tipo DESPESA.
                                </li>
                                <li><b>ATRASO NO RECEBIMENTO:</b> Indica que o recebimento está em atraso para
                                    lançamentos do tipo RECEITA.</li>
                                <li><b>A RECEBER:</b> Indica que o recebimento ainda não foi realizado para lançamentos
                                    do tipo RECEITA.</li>
                                <li><b>RECEBIDO:</b> Indica que o recebimento foi realizado para lançamentos do tipo
                                    RECEITA.</li>
                            </ul>

                            <p><b>Descrição:</b> Explicação do lançamento e é opcional.</p>

                            <p><b>Valor:</b> Valor do lançamento.</p>

                            <p><b>Data Vencimento:</b> Data de Vencimento para os pagamentos ou recebimentos.</p>

                            <p><b>Tipo de Lançamento:</b> Campo que definirá o que é receita ou despesa.</p>

                            <a routerLink="/loja">Ir até a seção de lançamentos</a>
                        </div>


                        <div class="tab-pane fade shadow rounded bg-white p-5 conteudo-guia-usuario"
                            id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <h4 class="font-italic mb-4">Lojas</h4>
                            <p class="font-italic text-muted mb-2">Nessa seção você poderá acompanhar as lojas e
                                cadastrar mais lojas para realizar as operações.</p>
                            <a routerLink="/loja">Ir até a seção de lojas</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>


</div>